.navbar-orange .navbar-nav .nav-link {
	background-color: #ff6600;
    border-radius: 35px;
    padding: 4px 10px 1px 13px;
    color: #f8fafc;
    font-size: 18px;
}

.navbar-orange .navbar-nav .nav-link:hover {
	background-color: #ff6600b8;
}

.navbar-orange .navbar-nav .nav-link-o {
    color: #ff6600;
    font-size: 20px;
}

.navbar-orange .navbar-nav .nav-link-o:hover {
	color: #ff6600b8;
	text-decoration: none;
}