.whatsapp {
  position: fixed;
  width: 40px;
  height: 40px;
  bottom: 20px;
  right: 10px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 25px;
  z-index: 100;
}

.whatsapp:hover{
  color: #f8fafc;
  background-color: #12883e;
}

.whatsapp-icon {
  margin-top:8px;
}